<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionário</title>
</head>
<body>
    <h1>Questionário</h1>
    <form method="post">
        {% for i, pergunta in enumerate(perguntas) %}
            <div>
                <label for="pergunta_{{ i }}">{{ pergunta['question'] }}</label>
                <select name="pergunta_{{ i }}" id="pergunta_{{ i }}">
                    {% for option in pergunta['options'] %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <button type="submit">Enviar</button>
    </form>
</body>
</html>